* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    max-width: 900px;
    margin: auto;
}

.loading {
    display: none;
    animation: rotation 2s infinite linear;
    filter: invert(1);
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}